<div class="sellit">
  <div class="container">
    <div class="row spot-request-row">
      <div class="col-lg-12">
        <small><%= link_to 'Request an additional spot now', new_spot_path, class: "btn btn-primary" %></small>
      </div>
    </div>
    <% if @approved_spots.empty? && @unapproved_spots.empty? %>
      <div class="row">
          <div class="col-md-4">
              <div class="panel panel-default null-spot-panel">
                  <div class="panel-heading">
                      <h4>
                          <i class="fa fa-fw fa-check"></i>
                          Life Tasks Made Easy!</h4>
                  </div>
                  <div class="panel-body">
                      <p>It’s surprising just how many things you can save time with by using a wizard spot. Once you get started you’ll never understand how you ever got around without it!</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-default null-spot-panel">
                  <div class="panel-heading">
                      <h4>
                          <i class="fa fa-fw fa-gift"></i>
                          Always Free for Personal Use</h4>
                  </div>
                  <div class="panel-body">
                      <p>Choose an exisiting wizard spot or request a custom wizard spot for personal use at no charge. We also offer very reasonable hourly rates for automating business functions. Please scroll down for additional details</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-default null-spot-panel">
                  <div class="panel-heading">
                      <h4>
                          <i class="fa fa-fw fa-compass"></i>
                          "Extremely Useful; Indispensable."</h4>
                  </div>
                  <div class="panel-body">
                      <p>Being able to send a text message or a tweet using a single tap is invaluable. For example, a tap whenever I’m leaving work, and it’ll instantly text my wife that I’m headed home. No need to fumble around typing in the same text that I send every
                          day – it just sends it off as I’m headed for the car. Done!</p>
                  </div>
              </div>
          </div>
      </div>
    <% else %>
      <% if @approved_spots.any? %>
        <div class="well">
          <h1><span class="label label-success"><%= pluralize(@approved_spots.count, "Approved Spot") %></span></h1>
          <div class="row spots-list">
            <%= render @approved_spots %>
          </div>
        </div>
      <% end %>

      <div class="well">
        <h1><span class="label label-success"><%= pluralize(@unapproved_spots.count, "Unapproved Spot") %></span></h1>
        <div class="row spots-list">
          <%= render @unapproved_spots %>
        </div>
      </div>
    <% end %>
  </div>
</div>
