<div class="login_buttons">
  <%= link_to auth_path(provider: 'facebook'), :class => "btn btn-social btn-facebook" do %>
      <span class="fa fa-facebook"></span>
      Sign in with Facebook
  <% end %>

  <%= link_to auth_path(provider: 'twitter'), :class => "btn btn-social btn-twitter" do %>
      <span class="fa fa-twitter"></span>
      Sign in with Twitter
  <% end %>

  <%= link_to auth_path(provider: 'google'), :class => "btn btn-social btn-google" do %>
      <span class="fa fa-google"></span>
      Sign in with Google
  <% end %>

  <%= link_to auth_path(provider: 'paypal'), :class => "btn btn-social btn-paypal" do %>
      <span class="fa fa-paypal"></span>
      Sign in with Paypal
  <% end %>

  <%= link_to auth_path(provider: 'github'), :class => "btn btn-social btn-github" do %>
      <span class="fa fa-github"></span>
      Sign in with Github
  <% end %>
</div>
