<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wizard Spots, your wish is our command">
    <meta name="author" content="Robert S. Ruiz">
    <title>Wizard Spots</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-wizardspot" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to image_tag('wizard2.png'), root_path, class: "navbar-brand" %>
              <%= link_to image_tag('byline1.png'), root_path, class: "navbar-brand" %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">
                          <b class="fa fa-bars fa"></b>
                          <%= current_user ? current_user.name : "Menu" %>
                      </a>
                      <ul class="dropdown-menu">
                          <% if !current_user %>
                            <li>
                                <%= link_to "Login", login_path %>
                            </li>
                          <% else %>
                            <li>
                                <%= link_to "Logout", logout_path %>
                            </li>
                          <% end %>
                          <li>
                              <%= link_to "My Spots", spots_path %>
                          </li>
                          <li>
                              <%= link_to "Spot Providers", pages_spotproviders_path %>
                          </li>
                          <li>
                              <%= link_to "How it Works", pages_howitworks_path %>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <main>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= msg %>
        <% end %>
      <% end %>
    </div>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
     <%= yield %>
  </main>

  <!-- Footer -->
  <footer class="navbar-default">
      <div class="container-fluid">
          <span>
              <div class="container footer">
                  <div class="row">
                      <div class="col-lg-10 col-lg-offset-1 text-center">
                          <hr class="small">
                          <div class="footer-left">
                              <p>Copyright © 2016 Wizard Spots
                                  <%= image_tag('wizard.png', size: "20x30") %>
                                  All rights reserved.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </span>
      </div>
  </footer>
<script async src='https://pepper.swat.io/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiI0QTkwRTIiLCJjdXN0b21Db2xvciI6ZmFsc2UsImljb24iOiJidWJibGUiLCJwcm9ub3VuIjoidXMiLCJsYW5ndWFnZSI6ImVuIiwiYnJhbmRlZCI6dHJ1ZSwiaW50cm9UZXh0IjoiSGkhIElmIHlvdSB3YW50IHRvIGZpbmQgb3V0IG1vcmUgYWJvdXQgV2l6YXJkIFNwb3RzIG9yIHdvdWxkIGxpa2UgdG8gaGF2ZSBhIHNob3J0IGNoYXQsIHlvdXIgd2lzaCBpcyBvdXIgY29tbWFuZCIsImNoYW5uZWxzIjpbWyJmYWNlYm9vayIsIldpemFyZFNwb3RzIiwic29jaWFsIl0sWyJ0d2l0dGVyIiwiV2l6YXJkU3BvdHMiLCJzb2NpYWwiXSxbInNsYWNrIiwiV2l6YXJkU3BvdHMiLCJzb2NpYWwiXSxbInBob25lIiwiKDgxMykgNTE2LTg1NDMiLCJjbGFzc2ljIl0sWyJlbWFpbCIsIkluZm9AV2l6YXJkU3BvdHMuY29tIiwiY2xhc3NpYyJdXX0='></script>
</body>
</html>
