<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wizard Spots, your wish is our command">
    <meta name="author" content="Robert S. Ruiz">
    <title>Wizard Spots</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>

    <!--Begin Bontact Script-->
        <script type='text/javascript'>
        var bontactCustomer = 'RTZDUMPFRAF-OJWANDRVWW-ZQYKDVETJQ-ULNNSPXMLL-HVGWMPHBR';
        var locationRoot = (('https:' == document.location.protocol) ? 'https://' : 'http://');
        var newElem = document.createElement('script');
        newElem.setAttribute('src', locationRoot+'dashboard.bontact.com/widget/bontact.script.js');
        newElem.setAttribute('type', 'text/javascript');
        document.getElementsByTagName('head')[0].appendChild(newElem);
        </script>
    <!--End Bontact Script-->

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-wizardspot" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to image_tag('wizard2.png'), root_path, class: "navbar-brand" %>
              <%= link_to image_tag('byline1.png'), root_path, class: "navbar-brand" %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">
                          <b class="fa fa-bars fa"></b>
                          <%= current_user ? current_user.name : "Menu" %>
                      </a>
                      <ul class="dropdown-menu">
                          <% if !current_user %>
                            <li>
                                <%= link_to "Login", login_path %>
                            </li>
                          <% else %>
                            <li>
                                <%= link_to "Logout", logout_path %>
                            </li>
                          <% end %>
                          <li>
                              <%= link_to "Your Spots", spots_path %>
                          </li>
                          <li>
                              <a href="spotproviders.html">Spot Providers</a>
                          </li>
                          <li>
                              <a href="howitworks.html">How it Works</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <main>
     <%= yield %>
  </main>

  <!-- Footer -->
  <footer class="navbar-default">
      <div class="container-fluid">
          <span>
              <div class="container footer">
                  <div class="row">
                      <div class="col-lg-10 col-lg-offset-1 text-center">
                          <hr class="small">
                          <div class="footer-left">
                              <p>Copyright © 2016 Wizard Spots
                                  <%= image_tag('wizard.png', size: "20x30") %>
                                  All rights reserved.
                              </p>
                          </div>
                          <div class="footer-right">
                              <ul class="list-inline">
                                  <li>
                                      <a href="https://www.facebook.com/WizardSpots/">
                                          <i class="fa fa-facebook fa-fw fa-2x"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://plus.google.com/b/102426166379979528674">
                                          <i class="fa fa-google-plus fa-fw fa-2x"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://twitter.com/WizardSpots">
                                          <i class="fa fa-twitter fa-fw fa-2x"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://www.linkedin.com/in/wizard-spots-22788970">
                                          <i class="fa fa-linkedin fa-fw fa-2x"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </span>
      </div>
  </footer>
</body>
</html>
